/* for numbered lists, numbers are in content, so do not need to be added with CSS */
.toc, .layout, .exec, .eval {
	padding-left: 0
}

.toc li, .layout li {
	display: block;
}

/* should numbers be part of content? */
.exec li, .eval li {
	list-style-position: inside;
}

code, pre, .layout, .exec, .eval, .process {
	border-width: medium;
	border-style: solid;
	margin-bottom: 1em;
}

code, pre {
	background: rgb(245,245,255);
	border-color: blue;
	display: block;
	overflow: auto;
	white-space: pre;
}

code::before {
	background: blue;
	color: rgb(245,245,255);
	content: "code example";
	display: block;
}

.layout {
	background: rgb(245,255,245);
	border-color: green;
}
.layout::before {
	background: green;
	color: rgb(245,255,245);
	content: "layout";
	display: block;
}

.exec {
	background: rgb(255,255,245);
	border-color: orange;
}
.exec::before {
	background: orange;
	color: rgb(255,255,245);
	content: "execution";
	display: block;
}

.eval {
	background: rgb(255,245,255);
	border-color: purple;
}
.eval::before {
	background: purple;
	color: rgb(255,245,255);
	content: "evaluation";
	display: block;
}

.process {
	background: rgb(250,250,250);
	border-color: gray;
}
.process::before {
	background: gray;
	color: rgb(250,250,250);
	content: "process";
	display: block;
}

.xxx {
	border: solid red;
	background: black;
	color: white;
}

table {
	background-color: black;
	border-spacing: 1px;
}
th, td {
	background-color: white;
	vertical-align: top;
}
th {
	white-space: pre;
	padding: 0 1em;
}