.programlisting, .screen {
	border: medium solid blue;
	background: rgb(200,200,255);
}

/* xxx not all simplelist elements are for node layouts */
.simplelist {
	border: medium solid green;
	background: rgb(200,255,200);
}
